html,body {
	height:100%; 
} 

.icon_svg{
	display: inline-block;
	svg{
		width: 20px;
		height: auto;
	}
}

.fixed-element-background{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index: -1; 

	.fixed-element-background-element{
		position:relative;
		z-index: 1;
		@include transition();
		@include opacity(1);
		&.is_hidden{
			z-index: -1;
			@include opacity(0);
		} 
	}

}

.azar-fixed-slider-mini{
	position:absolute;
	right: 0;
	top: 50%;
	z-index:10;
	@include translate(0,-50%);
	img{
		width: 100%;
	}
} 

.embed-responsive-golden {
	&::before {
		padding-top: 60%;
	}
 
	.golden-21by34{
		width: percentage(21 / 34);
	}

	.golden-13by34{
		width: percentage(13 / 34);
	}

	.golden-8by13{
		width: percentage(8 / 13);
	}

	.golden-5by13{
		width: percentage(5 / 13);
	}

	.golden-3by5{
		width: percentage(3 / 5);
	}

	.golden-2by5{
		width: percentage(2 / 5);
	}

} 

#main-content-wrap{ 
	position: relative;
	z-index: 1020;

	.landing-section{

		position:relative;
		overflow: hidden;
		
		.ajax-load-icon{ 
		}
	}
} 

.landing-section{
	p{
		font-size: 13px;
		line-height: 28px;
		letter-spacing: 1px;
	}
}

.ajax-load-holder{
	overflow: hidden; 
}

.theme-slick-slider{
	.item{
		float: right;
		img{
			width: 100%;
		}
	}
	&.slick-initialized{
		.item{
			float: none;
		}
	}
}

.references-slider{
	.slick-custom-arrow{
		background-color:$gray-200;
		svg{ 
		}
	}	
}

.azar-composition-slider-mini{
	.w-20{ 
		flex: 0 0 20%;
    max-width: 20%;
	}
	.w-40{
		flex: 0 0 40%;
    max-width: 40%;
	}

	.even{
		padding-bottom:8%;
	}
	.odd{
		padding-top:8%;
	}
}

.quote-lead{
	font-size: 48px;
	height: 44px;
	display: block;
}


.content-wrap{ 
	img{
		max-width:100%;
		height:auto;
	}
}

.section-title{
	color:$primary;
}


$main-navbar-expand:lg;
$main-navbar-transition: all ease .2s;

body.loading{
	.navbar-brand{ 
		@include translate(0,-300%);
	}
	.navbar-nav > .nav-item{
		@include translate(0,-300%); 
	}
}
body.inited{
	.navbar-brand{
		@include transition(all ease .7s 1s);
		@include translate(0,0);
	}
	.navbar-nav > .nav-item{ 
		@include translate(0,0);
		&:nth-child(1) {
		  @include transition(all ease .5s 1.5s);
		}
		&:nth-child(2) {
		  @include transition(all ease .5s 1.8s);
		}
		&:nth-child(3) {
		  @include transition(all ease .5s 2s);
		}
		&:nth-child(4) {
		  @include transition(all ease .5s 2.2s);
		}
	}
}
body.scrolling:not(.scrolling-mainHeader){
	#main-navbar{
		// position:absolute!important;
	} 
} 

#main-navbar{
	@include transition($main-navbar-transition); 

	.dropdown-menu{
		margin: 0;
		border-radius:0;
	}

	.navbar-brand{
		
	}

	.navbar-nav > .nav-item{ 
		
		@include breakpoint($main-navbar-expand){
			margin-right:13px; 
			margin-left:13px; 
			padding-right: 0!important;
			.caret{
				display: none!important;
			}

			.nav-link{
				padding-right:$grid-gutter; 
				padding-left:$grid-gutter; 
			}

			&:last-child{
				margin-right:0; 
			}
		}
	}
	.nav-link{
		color: #fff;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 1px; 
	}

	&:after{
		content: "";
		display: block;
		left:0;
		right:0;
		top:0;
		height: 100%;
		background-color:$primary;
		position:absolute;
		z-index: -1;
		@include translate(0,-100%);
		@include transition(all ease 0s);
	}

	&.bg-primary{
		.dropdown-menu{
			background-color:$primary!important;
			border-color:$primary!important;
		} 
	}
	&.affix{
		&:after{
				@include transition($main-navbar-transition);
				@include translate(0,0); 
			}
		.dropdown-menu{
			background-color:$primary!important;
			border-color:$primary!important;
		} 
	}
}

body.scrolling-mainHeader{
	#main-navbar{
		&.affix{
			
		}
	}
}

.side-menu{
	.dropdown-menu{
		margin: 0; 
		padding: 0 $grid-gutter;
	}
}



.embed-responsive-custom-header{
	&:before{
		padding-top: 52%;
		@include breakpoint(sm){
			padding-top: 38%; 
		}
		@include breakpoint(md){
			padding-top: 29%;
		}
	}
}

.azar-compound-embeds{
	.embed-responsive-custom{
		&:before{
			padding-top: 46.25%;
		}
	}
	.embed-responsive-custom-small{
		&:before{
			padding-top: 57.5%;
		}
	}

	.azar-slide-description,
	.azar-slide-year{

		display: inline-block;
		color: #fff;
		position: absolute;
		padding: 28px 24px;
		font-size: 15px;
		z-index: 10;

		&.tr{
			top: 0;
			right: 0;
		}
		&.tl{
			top: 0;
			left: 0;
		}

		&.br{
			bottom: 0;
			right: 0;
		}
		&.bl{
			bottom: 0;
			left: 0;
		}

	} 

	.test-sizes{
		display: inline-block;
		padding:4px 8px;
		font-size: 15px;
		position:absolute;
		top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
		z-index: 40;
		background:$success;
		color:#fff;
	}

	.embed-responsive-custom-2{
		&:before{
			padding-top: 52.5%;
		}
	}

	.embed-responsive-custom-small-2{
		&:before{
			padding-top: 32%;
		}
	}

	.border-item{
		border:1px solid #fff;
		overflow: hidden;
		background-color: $primary;
	}

}

.item.first{
	.slick-custom-prev{
		display: none!important;
	}
}
.item.last{
	.slick-custom-next{
		display: none!important;
	}
}

.slick-custom-arrow{
	
	background-color: #fff;
	position: absolute;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0!important;
	outline: none!important;
	svg{
		width: 18px;
		height: auto;
	}
	width: 35px;
	height: 38px;
	@include breakpoint(sm){

	}
	@include breakpoint(md){
		width: 75px;
		height: 68px;
		svg{
			width: 25px;
		}
	}
	@include breakpoint(lg){
		width: 125px;
		height: 98px;
		svg{
			width: 43px;
		}
	}

	&.tr{
		top: 0;
		right: 0;
	}
	&.tl{
		top: 0;
		left: 0;
	}
	&.br{
		bottom: 0;
		right: 0;
	}
	&.bl{
		bottom: 0;
		left: 0;
	}
}



$lazybackground-item-filter: blur(24px);
$lazybackground-item-opacity: .6;
$lazybackground-item-scale: 1.3;
$lazybackground-item-transition: ease all 1.7s;
.lazybackground-item{
	filter: $lazybackground-item-filter;
  -webkit-filter: $lazybackground-item-filter; 
	@include opacity($lazybackground-item-opacity);
	@include transition($lazybackground-item-transition);
	@include scale($lazybackground-item-scale);
	&.lazybackground-loading{ 
	}
	&.lazybackground-loaded{
		@include opacity(1);
		@include scale(1);
		filter: blur(0);
		-webkit-filter: blur(0);
	}
}
.lazybackground-loader{
	position:absolute;
	z-index: 10;
	top:0;
	left:0;
	width: 40px;
	height: 40px;
	 
}

[data-inview-me="detect"]{
		.lazybackground-item{
			filter: blur($lazybackground-item-filter);
			@include scale($lazybackground-item-scale);
  		-webkit-filter: blur($lazybackground-item-filter); 
		}
		&.apply_inview_me{
			.lazybackground-item:not(.lazybackground-loading){
				filter: blur(0);
				@include scale(1);
	  		-webkit-filter: blur(0);
			}
		}
}

$azar-3-compound-breakpoint: sm;
.azar-3-compound-images{

	position: relative;
	padding-bottom:18%;

	.i-1,.i-2,.i-3{
		img{
			width: 100%;
			@include transition(ease all 1s);
		}
		
	}

	.i-1{ 
		position:relative;
		z-index: 1;
		left: 0;
		@include breakpoint($azar-3-compound-breakpoint){
			left: 18%;
		}
		.c{
			width: 65%;
			@include breakpoint($azar-3-compound-breakpoint){
				width: 55%;
			}
		}
	}
	.i-2{ 
		top: 15%;
		@include breakpoint($azar-3-compound-breakpoint){
			top: 18%;
		}
    position: absolute;
    z-index: 2;
    right: 0;
    left: 0;
    text-align: right;
		.c{ 
			margin-left: auto;
			width: 52%;
			@include breakpoint($azar-3-compound-breakpoint){
				width: 41%;
			}
		}
	}
	.i-3{
		position: absolute;
    z-index: 3;
    left: 0;
    bottom: 2%; 
		@include breakpoint($azar-3-compound-breakpoint){
			left: 18%;
			bottom: 2%; 
		}
    right: 0;
    
    text-align: center;
		.c{ 
			width: 54%;
			@include breakpoint($azar-3-compound-breakpoint){
				width: 51%;
			}
			margin-left: auto;
			margin-right: auto;
		}
	}

}








.form-controls-transparent{
	.wpcf7-form-control-wrap{
		display: block;
    padding: 10px 0;
	}
	.form-control{
		background-color:transparent!important;
		height: 44px; 
		color:#fff;
		padding: 8px 0; 
		@include box-shadow(none);
	}
	textarea.form-control{
		height: auto;
	}

	.btn-transparent{
		@include box-shadow(none);
		color:#fff;
	}

	.m-label-animated{
		color:#fff;
		padding: 8px 0;
	}
	.m-form-group .m-form-control, .m-form-control {
		background-image: linear-gradient(0deg, rgba(#fff,.6) 1px, rgba(#fff,.6) 0);
	}
	.m-form-group.focused .m-form-control, .m-form-control:focus{
		background-image: linear-gradient(0deg, #fff 1px, #fff 0);
	}
	.m-form-group.focused .m-label-animated{
		color:#fff;
		top: -4px;
	}


	.invalid .form-control[aria-invalid="false"]{
		border-color:transparent;
		@include box-shadow(none);
	}

}  


.wpcf7-response-output{
	border:none!important;
	padding:0;
	margin:0;
	text-align: left;
}

[data-inview-me="detect"]{
	overflow: hidden;

	.inview-me-fadeUp-title{
		@include translate(0,100%);
		@include opacity(0);
		@include transition(ease all .7s .5s);
	}
	.inview-me-fadeUp{
		@include translate(0,20%);
		@include opacity(0);
		@include transition(ease all 1.7s 1s);
	}

	&.apply_inview_me{
		.inview-me-fadeUp-title,
		.inview-me-fadeUp{
			@include translate(0,0);
			@include opacity(1);
		}
	}	
}




#main-footer{

	a{
		color:#fff;
		text-decoration: none;
	}

}